	table 
   {
    border-collapse: collapse ; /* Убираем двойные границы между ячейками */
    border: 4px solid #000; /* Рамка вокруг таблицы */
    margin: auto;
   }

    th.Editor
   {
    padding: 0px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
    font-size:10px;
    text-align:center;
   }

    th.Editor2
   {
    padding: 0px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
    font-size:14px;
    text-align: center;
   }



   td.Editor
   { 
    padding: 1px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
    font-size: 10px;
     /*width: 50px;*/
   }

     td.Editor2
   { 
    padding: 1px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
    font-size: 14px;

   }


   	#ErrorMessages
   {
   		color:red;

   }
   
   input.Editor2 :not(.column0 )
   {
      width: 50px;
   }
  

   input.Editor
   {
   	width: 50px;
   }

	 input.column0.Editor
   {
   	width: 10px;
   }
  
    input.column1.Editor
   {
    width: 100px;
   }
   datalist
   {
   		width: 1000px;

   }

    option
   {
   		width: 1000px;

   }

  
    body
    {
      min-width:1300px;
    }

    nav
    {
      min-width:1300px;
    }

    footer
    {
      min-width:1300px;
    }

    

   /*input {display: block; padding: 0; margin: 0; border: 0; width: 100%; }*/
/*td {margin: 0; padding: 0;}*/